<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

	<display-name>ClinicPet</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring-context.xml
			classpath:spring-security.xml
		</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:spring-context.xml
				classpath:spring-security.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ClinicServlet</servlet-name>
		<servlet-class>ru.parsentev.servlets.ClinicServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ClinicServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserViewServlet</servlet-name>
		<servlet-class>ru.parsentev.servlets.UserViewServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserViewServlet</servlet-name>
		<url-pattern>/user/view</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserCreateServlet</servlet-name>
		<servlet-class>ru.parsentev.servlets.UserCreateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserCreateServlet</servlet-name>
		<url-pattern>/user/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserEditServlet</servlet-name>
		<servlet-class>ru.parsentev.servlets.UserEditServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserEditServlet</servlet-name>
		<url-pattern>/user/edit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserDeleteServlet</servlet-name>
		<servlet-class>ru.parsentev.servlets.UserDeleteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserDeleteServlet</servlet-name>
		<url-pattern>/user/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateUserJsonServlet</servlet-name>
		<servlet-class>ru.parsentev.servlets.CreateUserJsonServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateUserJsonServlet</servlet-name>
		<url-pattern>/user/json</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>     