<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

	<display-name>ClinicPet</display-name>

	<description>
		This is a simple web application with a source code organization
		based on the recommendations of the Application Developer's Guide.
	</description>

	<servlet>
		<servlet-name>ClinicServlet</servlet-name>
		<servlet-class>ru.parsentev.servlets.ClinicServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ClinicServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>     