label {
	width: 150px;
	display:inline-block;
}

.form div {
	padding: 5px 0 5px 0;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	padding: 10px;
}

.center div {
	background-color: aliceblue;
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid black;
	padding: 2px 5px 2px 5px;
}